{
  "openapi": "3.1.0",
  "info": {
    "title": "UIP API",
    "description": "Universal Identity Protocol API for biometric authentication, signatures, and messaging",
    "version": "1.0.0",
    "contact": {
      "name": "UIP Support",
      "email": "support@uip.digital",
      "url": "https://business.uip.digital"
    }
  },
  "servers": [
    {
      "url": "https://api.uip.digital/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/identify": {
      "post": {
        "summary": "Identify Identity",
        "description": "Identify and verify a user's identity with biometric verification. Returns a QR code or deep link for the user to scan.",
        "operationId": "identify",
        "tags": ["Identity"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic authentication",
                  "value": {
                    "intent": "Sign in to Example App",
                    "requested_data": ["name", "birthdate"]
                  }
                },
                "age_verification": {
                  "summary": "Age verification only",
                  "value": {
                    "intent": "Verify you're 18+ to access content",
                    "requested_data": ["birthdate"]
                  }
                },
                "full_profile": {
                  "summary": "Complete profile",
                  "value": {
                    "intent": "Complete your profile setup"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifyResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "session_id": "sess_abc123def456",
                      "qr_code": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",
                      "expires_at": "2025-01-11T12:35:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sign": {
      "post": {
        "summary": "Request Signature",
        "description": "Request a legally binding biometric signature from a user",
        "operationId": "sign",
        "tags": ["Signatures"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignRequest"
              },
              "examples": {
                "tos": {
                  "summary": "Terms of Service",
                  "value": {
                    "intent": "Sign Terms of Service",
                    "signature_information": "I agree to the Terms of Service version 2.1 dated January 11, 2025"
                  }
                },
                "privacy_policy": {
                  "summary": "Privacy Policy",
                  "value": {
                    "intent": "Acknowledge Privacy Policy",
                    "signature_information": "I acknowledge and agree to the Privacy Policy updated January 2025"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "session_id": "sess_abc123def456",
                      "qr_code": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",
                      "expires_at": "2025-01-11T12:35:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/message": {
      "post": {
        "summary": "Send Message",
        "description": "Send an encrypted message to a UIP user with optional attachments",
        "operationId": "message",
        "tags": ["Messaging"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic message",
                  "value": {
                    "user_id": "user_abc123",
                    "title": "Account Update",
                    "message": "Your account has been successfully updated",
                    "priority": "normal"
                  }
                },
                "with_attachment": {
                  "summary": "Message with attachment",
                  "value": {
                    "user_id": "user_abc123",
                    "title": "Monthly Statement",
                    "message": "Your monthly statement is attached",
                    "priority": "high",
                    "attachment_url": "https://myapp.com/statements/jan_2025.pdf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "message_id": "msg_abc123def456",
                      "status": "delivered",
                      "sent_at": "2025-01-10T12:00:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invalidate": {
      "post": {
        "summary": "Invalidate Message",
        "description": "Cancel an active session (authentication, signature, or message request)",
        "operationId": "invalidate",
        "tags": ["Sessions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvalidateRequest"
              },
              "examples": {
                "session": {
                  "summary": "Invalidate auth session",
                  "value": {
                    "session_id": "sess_abc123def456"
                  }
                },
                "signature": {
                  "summary": "Invalidate signature request",
                  "value": {
                    "signature_id": "sig_abc123def456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session invalidated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidateResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "invalidated",
                      "invalidated_at": "2025-01-10T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/audit": {
      "get": {
        "summary": "Get Audit Record",
        "description": "Retrieve the complete audit record for a completed action",
        "operationId": "audit",
        "tags": ["Audit"],
        "parameters": [
          {
            "name": "reference_id",
            "in": "query",
            "required": true,
            "description": "The reference ID of the action to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit record retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponse"
                },
                "examples": {
                  "signature": {
                    "value": {
                      "reference_id": "ref_abc123def456",
                      "action_type": "signature",
                      "status": "completed",
                      "signatory": {
                        "user_id": "user_abc123",
                        "verified": true,
                        "verification_level": "government_id"
                      },
                      "timestamp": "2025-01-10T12:00:00Z",
                      "requester": {
                        "organization_id": "org_xyz789",
                        "organization_name": "Acme Corp"
                      },
                      "document_hash": "sha256:abc123...",
                      "signature_proof": "0x123abc..."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Audit record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/test": {
      "post": {
        "summary": "Test Webhook",
        "description": "Test your webhook endpoint configuration by triggering a test notification",
        "operationId": "webhookTest",
        "tags": ["Webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookTestRequest"
              },
              "examples": {
                "authentication": {
                  "summary": "Test authentication webhook",
                  "value": {
                    "webhook_url": "https://myapp.com/webhooks/uip",
                    "event_type": "authentication.completed"
                  }
                },
                "signature": {
                  "summary": "Test signature webhook",
                  "value": {
                    "webhook_url": "https://myapp.com/webhooks/uip",
                    "event_type": "signature.completed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook test sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookTestResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "test_id": "test_abc123def456",
                      "webhook_url": "https://myapp.com/webhooks/uip",
                      "status": "sent",
                      "response_code": 200,
                      "response_time_ms": 145,
                      "sent_at": "2025-01-10T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IdentifyRequest": {
        "type": "object",
        "required": ["intent"],
        "properties": {
          "intent": {
            "type": "string",
            "description": "Description of why you're requesting identity verification. Shown to the user in the UIP app."
          },
          "requested_data": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["name", "birthdate", "country"]
            },
            "description": "Optional array of identity attributes to request. If omitted or empty, all data is returned. Valid values: name, birthdate, country"
          }
        }
      },
      "IdentifyResponse": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "description": "Unique identifier for this authentication session"
          },
          "qr_code": {
            "type": "string",
            "description": "Base64-encoded PNG image of the QR code for users to scan"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the session expires (5 minutes from creation)"
          }
        }
      },
      "SignRequest": {
        "type": "object",
        "required": ["intent", "signature_information"],
        "properties": {
          "intent": {
            "type": "string",
            "description": "Description of why you're requesting a signature. Shown to the user in the UIP app."
          },
          "signature_information": {
            "type": "string",
            "description": "The content or description of what the user is signing. This is the actual agreement text or reference."
          }
        }
      },
      "SignResponse": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "description": "Unique identifier for this signature session"
          },
          "qr_code": {
            "type": "string",
            "description": "Base64-encoded PNG image of the QR code for users to scan"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the session expires (5 minutes from creation)"
          }
        }
      },
      "MessageRequest": {
        "type": "object",
        "required": ["user_id", "title", "message"],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "UIP user ID to send message to"
          },
          "title": {
            "type": "string",
            "description": "Message title"
          },
          "message": {
            "type": "string",
            "description": "Message content"
          },
          "attachment_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to attachment (max 20MB)"
          },
          "priority": {
            "type": "string",
            "enum": ["low", "normal", "high", "urgent"],
            "default": "normal",
            "description": "Message priority level"
          },
          "request_signature": {
            "type": "boolean",
            "default": false,
            "description": "Whether to request signature on this message"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message_id": {
            "type": "string",
            "description": "Unique message identifier"
          },
          "status": {
            "type": "string",
            "enum": ["sent", "delivered", "read", "failed"],
            "description": "Message delivery status"
          },
          "sent_at": {
            "type": "string",
            "format": "date-time",
            "description": "Message send timestamp"
          }
        }
      },
      "InvalidateRequest": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "description": "Authentication session ID to invalidate"
          },
          "signature_id": {
            "type": "string",
            "description": "Signature request ID to invalidate"
          }
        },
        "oneOf": [
          {"required": ["session_id"]},
          {"required": ["signature_id"]}
        ]
      },
      "InvalidateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["invalidated"],
            "description": "Invalidation status"
          },
          "invalidated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Invalidation timestamp"
          }
        }
      },
      "AuditResponse": {
        "type": "object",
        "properties": {
          "reference_id": {
            "type": "string",
            "description": "Unique audit reference ID"
          },
          "action_type": {
            "type": "string",
            "enum": ["authentication", "signature", "message"],
            "description": "Type of action"
          },
          "status": {
            "type": "string",
            "enum": ["completed", "failed"],
            "description": "Action status"
          },
          "signatory": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "description": "UIP user ID"
              },
              "verified": {
                "type": "boolean",
                "description": "Whether identity is government verified"
              },
              "verification_level": {
                "type": "string",
                "description": "Level of identity verification"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Action timestamp"
          },
          "requester": {
            "type": "object",
            "properties": {
              "organization_id": {
                "type": "string",
                "description": "Requesting organization ID"
              },
              "organization_name": {
                "type": "string",
                "description": "Requesting organization name"
              }
            }
          },
          "document_hash": {
            "type": "string",
            "description": "SHA-256 hash of signed document (for signatures)"
          },
          "signature_proof": {
            "type": "string",
            "description": "Cryptographic signature proof"
          }
        }
      },
      "WebhookTestRequest": {
        "type": "object",
        "required": ["webhook_url", "event_type"],
        "properties": {
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "Your webhook endpoint URL to test"
          },
          "event_type": {
            "type": "string",
            "enum": [
              "authentication.completed",
              "authentication.failed",
              "signature.completed",
              "signature.declined",
              "message.delivered",
              "message.read"
            ],
            "description": "Type of webhook event to simulate"
          }
        }
      },
      "WebhookTestResponse": {
        "type": "object",
        "properties": {
          "test_id": {
            "type": "string",
            "description": "Unique test identifier"
          },
          "webhook_url": {
            "type": "string",
            "description": "The webhook URL that was tested"
          },
          "status": {
            "type": "string",
            "enum": ["sent", "failed"],
            "description": "Test delivery status"
          },
          "response_code": {
            "type": "integer",
            "description": "HTTP response code from your webhook"
          },
          "response_time_ms": {
            "type": "integer",
            "description": "Response time in milliseconds"
          },
          "sent_at": {
            "type": "string",
            "format": "date-time",
            "description": "Test sent timestamp"
          },
          "error_message": {
            "type": "string",
            "description": "Error message if test failed"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "details": {
                "type": "object",
                "description": "Additional error context"
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "Request ID for debugging"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Use your UIP API key as a bearer token"
      }
    }
  }
}
