{
  "openapi": "3.1.0",
  "info": {
    "title": "UIP API",
    "description": "Universal Identity Protocol API for biometric authentication, signatures, and messaging",
    "version": "1.0.0",
    "contact": {
      "name": "UIP Support",
      "email": "support@uip.digital",
      "url": "https://uip.digital"
    }
  },
  "servers": [
    {
      "url": "https://api.uip.digital/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/identify": {
      "post": {
        "summary": "Create Identify Session",
        "description": "Create an identity verification session. Returns a QR code and session ID for the user to scan with their UIP app.",
        "operationId": "identifyCreate",
        "tags": ["Identity"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic authentication",
                  "value": {
                    "intent": "Sign in to Example App",
                    "requested_data": ["first_name", "last_name", "date_of_birth"]
                  }
                },
                "age_verification": {
                  "summary": "Age verification only",
                  "value": {
                    "intent": "Verify you're 18+ to access content",
                    "requested_data": ["date_of_birth"]
                  }
                },
                "full_profile": {
                  "summary": "Complete profile",
                  "value": {
                    "intent": "Complete your profile setup"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity verification session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "session_id": "sess_abc123def456",
                      "qr_code": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",
                      "expires_at": "2025-01-11T12:35:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identify/{id}": {
      "get": {
        "summary": "Poll Identify Session",
        "description": "Poll for identity verification session status and result. When completed, returns all requested identity data.",
        "operationId": "identifyPoll",
        "tags": ["Identity"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The session_id returned from the POST request",
            "schema": {
              "type": "string"
            },
            "example": "sess_abc123def456"
          }
        ],
        "responses": {
          "200": {
            "description": "Session status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifyPollResponse"
                },
                "examples": {
                  "pending": {
                    "summary": "Session pending",
                    "value": {
                      "status": "pending",
                      "expires_at": "2025-01-11T12:35:00Z"
                    }
                  },
                  "completed": {
                    "summary": "Session completed with identity data",
                    "value": {
                      "status": "completed",
                      "expires_at": "2025-01-11T12:35:00Z",
                      "audit_id": "audit_9z8y7x6w5v4u",
                      "uip_id": "user_abc123def456",
                      "first_name": "John",
                      "last_name": "Doe",
                      "date_of_birth": "1990-05-15",
                      "country": "US",
                      "identity_expires_at": "2027-01-11T00:00:00Z"
                    }
                  },
                  "expired": {
                    "summary": "Session expired",
                    "value": {
                      "status": "expired",
                      "expires_at": "2025-01-11T12:35:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sign": {
      "post": {
        "summary": "Create Sign Session",
        "description": "Create a signature session. Returns a QR code and session ID for the user to scan with their UIP app.",
        "operationId": "signCreate",
        "tags": ["Signatures"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignRequest"
              },
              "examples": {
                "tos": {
                  "summary": "Terms of Service",
                  "value": {
                    "intent": "Sign Terms of Service",
                    "signature_information": "I agree to the Terms of Service version 2.1 dated January 11, 2025"
                  }
                },
                "privacy_policy": {
                  "summary": "Privacy Policy",
                  "value": {
                    "intent": "Acknowledge Privacy Policy",
                    "signature_information": "I acknowledge and agree to the Privacy Policy updated January 2025"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "session_id": "sess_abc123def456",
                      "qr_code": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",
                      "expires_at": "2025-01-11T12:35:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sign/{id}": {
      "get": {
        "summary": "Poll Sign Session",
        "description": "Poll for signature session status and result. When completed, returns audit trail reference.",
        "operationId": "signPoll",
        "tags": ["Signatures"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The session_id returned from the POST request",
            "schema": {
              "type": "string"
            },
            "example": "sess_abc123def456"
          }
        ],
        "responses": {
          "200": {
            "description": "Session status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignPollResponse"
                },
                "examples": {
                  "pending": {
                    "summary": "Session pending",
                    "value": {
                      "status": "pending",
                      "expires_at": "2025-01-11T12:35:00Z"
                    }
                  },
                  "completed": {
                    "summary": "Session completed with audit trail",
                    "value": {
                      "status": "completed",
                      "expires_at": "2025-01-11T12:35:00Z",
                      "audit_id": "audit_9z8y7x6w5v4u",
                      "uip_id": "user_abc123def456"
                    }
                  },
                  "expired": {
                    "summary": "Session expired",
                    "value": {
                      "status": "expired",
                      "expires_at": "2025-01-11T12:35:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authorize": {
      "post": {
        "summary": "Create Authorization Session",
        "description": "Create an authorization session for platform delegation. Returns a QR code for the business owner to scan.",
        "operationId": "authorizeCreate",
        "tags": ["Authorization"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Request identify and sign scopes",
                  "value": {
                    "client_id": "platform_abc123",
                    "client_secret": "secret_xyz789",
                    "scopes": ["identify:create", "sign:create"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "session_id": "sess_auth_1a2b3c4d",
                      "qr_code": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",
                      "expires_at": "2025-01-11T12:35:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authorize/{id}/status": {
      "post": {
        "summary": "Check Authorization Status",
        "description": "Check the status of an authorization session. Uses POST because client credentials must be verified on every status check.",
        "operationId": "authorizeStatus",
        "tags": ["Authorization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The session_id returned when creating the authorization session",
            "schema": {
              "type": "string"
            },
            "example": "sess_auth_1a2b3c4d"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeStatusRequest"
              },
              "examples": {
                "basic": {
                  "value": {
                    "client_id": "platform_abc123",
                    "client_secret": "secret_xyz789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization session status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeStatusResponse"
                },
                "examples": {
                  "pending": {
                    "summary": "Pending approval",
                    "value": {
                      "status": "pending",
                      "expires_at": "2025-01-11T12:35:00Z"
                    }
                  },
                  "completed": {
                    "summary": "Approved with delegation token",
                    "value": {
                      "status": "completed",
                      "expires_at": "2025-01-11T12:35:00Z",
                      "access_token": "uip_at_abc123xyz789..."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/message": {
      "post": {
        "summary": "Send Message",
        "description": "Send an encrypted message to a UIP user with optional PDF attachments (up to 20MB) and signature requests",
        "operationId": "message",
        "tags": ["Messaging"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequestWithAttachment"
              },
              "examples": {
                "text_only": {
                  "summary": "Text message without attachment",
                  "value": {
                    "intent": "Account Statement Ready",
                    "message": "Your Q4 2024 account statement is now available for review.",
                    "priority": "MEDIUM",
                    "receiver_uip": "user_abc123def456",
                    "signature_required": false
                  }
                },
                "text_with_signature": {
                  "summary": "Text message with signature required",
                  "value": {
                    "intent": "Sign Employment Contract",
                    "message": "Please review and sign your employment contract by January 31, 2025.",
                    "priority": "HIGH",
                    "receiver_uip": "user_abc123def456",
                    "signature_required": true,
                    "signature_expiry": "2025-01-31T23:59:59Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "message_id": "msg_abc123def456"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/message/invalidate": {
      "post": {
        "summary": "Invalidate Message",
        "description": "Invalidate a signature-required message that hasn't been signed yet. The message will remain visible to the user but cannot be signed after invalidation.",
        "operationId": "invalidate",
        "tags": ["Messaging"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvalidateRequest"
              },
              "examples": {
                "message": {
                  "summary": "Invalidate signature-required message",
                  "value": {
                    "message_id": "msg_abc123def456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message invalidated successfully. Returns HTTP 200 status code only, no response body.",
            "content": {
              "text/plain": {
                "example": "Message invalidated successfully. Returns HTTP 200 status code only, no response body."
              }
            }
          }
        }
      }
    },
    "/audit/{auditID}": {
      "get": {
        "summary": "Get Audit Record",
        "description": "Retrieve the complete audit record for a completed action",
        "operationId": "audit",
        "tags": ["Audit"],
        "parameters": [
          {
            "name": "auditID",
            "in": "path",
            "required": true,
            "description": "The audit ID from completed polling responses or webhook events",
            "schema": {
              "type": "string"
            },
            "example": "audit_9z8y7x6w5v4u"
          }
        ],
        "responses": {
          "200": {
            "description": "Audit record retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponse"
                },
                "examples": {
                  "signed_message": {
                    "summary": "Signed message with attachment",
                    "value": {
                      "audit": {
                        "created_at": "2025-01-11T14:30:00Z",
                        "requester_uip_id": "business_abc123",
                        "requester_sign_intent": "Sign Employment Contract",
                        "requester_sign_information": "Please review and sign your employment contract by January 31, 2025.",
                        "signatoree_uip_id": "user_def456",
                        "message_ref": "msg_xyz789abc123",
                        "attachment_refs": ["audit_abc123___msg_xyz789___contract.pdf"],
                        "audit_type": "message",
                        "requester_name": "HR Manager",
                        "signatoree_name": "John Doe",
                        "requester_business_name": "Acme Corp",
                        "signed_accepted": true
                      },
                      "attachments": [
                        {
                          "filename": "contract.pdf",
                          "content_type": "application/pdf",
                          "content": "JVBERi0xLjQKJeLjz9MKMSAwIG9iago8PC9UeXBlL0NhdGFs...",
                          "size": 245678
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhook/test": {
      "post": {
        "summary": "Test Webhook",
        "description": "Test your webhook endpoint configuration by sending a test notification to the webhook URL configured in your Business Dashboard",
        "operationId": "webhookTest",
        "tags": ["Webhooks"],
        "responses": {
          "200": {
            "description": "Webhook test sent successfully. Returns HTTP 200 OK status with no response body.",
            "content": {
              "text/plain": {
                "example": "HTTP/1.1 200 OK"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IdentifyRequest": {
        "type": "object",
        "required": ["intent"],
        "properties": {
          "intent": {
            "type": "string",
            "description": "Description of why you're requesting identity verification. Shown to the user in the UIP app."
          },
          "requested_data": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["first_name", "last_name", "date_of_birth", "country", "expires_at"]
            },
            "description": "Optional array of identity attributes to request. If omitted or empty, all data is returned. Valid values: first_name, last_name, date_of_birth, country, expires_at"
          }
        }
      },
      "SignRequest": {
        "type": "object",
        "required": ["intent", "signature_information"],
        "properties": {
          "intent": {
            "type": "string",
            "description": "Description of why you're requesting a signature. Shown to the user in the UIP app."
          },
          "signature_information": {
            "type": "string",
            "description": "The content or description of what the user is signing. This is the actual agreement text or reference."
          }
        }
      },
      "AuthorizeRequest": {
        "type": "object",
        "required": ["client_id", "client_secret", "scopes"],
        "properties": {
          "client_id": {
            "type": "string",
            "description": "The platform's client ID, issued during platform registration."
          },
          "client_secret": {
            "type": "string",
            "description": "The platform's client secret, issued during platform registration."
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["identify:create", "sign:create", "messages:create", "messages:read", "audits:read", "business:read"]
            },
            "description": "Array of permission scopes to request from the business."
          }
        }
      },
      "AuthorizeStatusRequest": {
        "type": "object",
        "required": ["client_id", "client_secret"],
        "properties": {
          "client_id": {
            "type": "string",
            "description": "The platform's client ID."
          },
          "client_secret": {
            "type": "string",
            "description": "The platform's client secret."
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "description": "Unique identifier for this session"
          },
          "qr_code": {
            "type": "string",
            "description": "Base64-encoded PNG data URI of the QR code. The QR code encodes https://www.uip.id/{session_id}"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the session expires"
          }
        }
      },
      "IdentifyPollResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "expired"],
            "description": "Session status"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the session expires"
          },
          "audit_id": {
            "type": "string",
            "description": "Permanent audit trail reference (only present when completed)"
          },
          "uip_id": {
            "type": "string",
            "description": "User's unique UIP identifier (only present when completed)"
          },
          "first_name": {
            "type": "string",
            "description": "Verified first name (if requested, only present when completed)"
          },
          "last_name": {
            "type": "string",
            "description": "Verified last name (if requested, only present when completed)"
          },
          "date_of_birth": {
            "type": "string",
            "description": "Verified date of birth in YYYY-MM-DD format (if requested, only present when completed)"
          },
          "country": {
            "type": "string",
            "description": "Verified country code (if requested, only present when completed)"
          },
          "identity_expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the user's identity verification expires (only present when completed)"
          }
        }
      },
      "SignPollResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "expired"],
            "description": "Session status"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the session expires"
          },
          "audit_id": {
            "type": "string",
            "description": "Permanent audit trail reference (only present when completed)"
          },
          "uip_id": {
            "type": "string",
            "description": "User's unique UIP identifier (only present when completed)"
          }
        }
      },
      "AuthorizeStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "expired"],
            "description": "Authorization session status"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the session expires"
          },
          "access_token": {
            "type": "string",
            "description": "Delegation token with uip_at_ prefix (only present when completed)"
          }
        }
      },
      "MessageRequestWithAttachment": {
        "type": "object",
        "required": ["intent", "message", "priority", "receiver_uip", "signature_required"],
        "properties": {
          "intent": {
            "type": "string",
            "description": "Description of why you're sending the message. Shown to the user in the UIP app as the message subject/title."
          },
          "message": {
            "type": "string",
            "description": "The message content/body. This is the actual message text the recipient will read."
          },
          "priority": {
            "type": "string",
            "enum": ["LOW", "MEDIUM", "HIGH", "EXTREME"],
            "description": "Notification priority level that controls how the message appears to the user."
          },
          "receiver_uip": {
            "type": "string",
            "description": "The UIP ID of the message recipient. Must be a valid UIP user identifier."
          },
          "signature_required": {
            "type": "boolean",
            "description": "Flag indicating whether the recipient must sign the message."
          },
          "signature_expiry": {
            "type": "string",
            "format": "date-time",
            "description": "Expiry date for signature requests in RFC3339 format. Only applies when signature_required is true. Defaults to 7 days from message creation. Maximum allowed: 3 months."
          },
          "attachments": {
            "type": "string",
            "format": "binary",
            "description": "PDF file(s) to attach to the message. Format: PDF only. Size limit: 20MB combined for all attachments."
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "required": ["message_id"],
        "properties": {
          "message_id": {
            "type": "string",
            "description": "Unique message identifier. Save this ID to track message status and reference it in webhook handlers."
          }
        }
      },
      "InvalidateRequest": {
        "type": "object",
        "required": ["message_id"],
        "properties": {
          "message_id": {
            "type": "string",
            "description": "Message ID to invalidate. Only works for signature-required messages that haven't been signed yet."
          }
        }
      },
      "AuditResponse": {
        "type": "object",
        "properties": {
          "audit": {
            "type": "object",
            "properties": {
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when the action was completed"
              },
              "requester_uip_id": {
                "type": "string",
                "description": "UIP ID of the business that requested the action"
              },
              "requester_sign_intent": {
                "type": "string",
                "description": "The intent message shown to the user (subject/title of the request)"
              },
              "requester_sign_information": {
                "type": "string",
                "description": "The signature information or message content"
              },
              "signatoree_uip_id": {
                "type": "string",
                "description": "UIP ID of the user who signed or declined"
              },
              "message_ref": {
                "type": "string",
                "nullable": true,
                "description": "Message ID reference if this was a message-based signature. Null for lightweight signatures."
              },
              "attachment_refs": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true,
                "description": "Array of attachment references if attachments were included. Null if no attachments."
              },
              "audit_type": {
                "type": "string",
                "enum": ["identify", "sign", "message"],
                "description": "Type of action: identify (Identify API), sign (Sign API), message (Message API with signature)"
              },
              "requester_name": {
                "type": "string",
                "description": "Display name of the requester (business or admin)"
              },
              "signatoree_name": {
                "type": "string",
                "description": "Full name of the user who signed or declined"
              },
              "requester_business_name": {
                "type": "string",
                "description": "Business name of the requesting organization"
              },
              "signed_accepted": {
                "type": "boolean",
                "description": "True if the user signed/accepted, false if declined"
              }
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "Original filename of the attachment"
                },
                "content_type": {
                  "type": "string",
                  "description": "MIME type of the attachment (always application/pdf)"
                },
                "content": {
                  "type": "string",
                  "description": "Base64-encoded file content"
                },
                "size": {
                  "type": "integer",
                  "description": "File size in bytes"
                }
              }
            },
            "description": "Array of PDF attachments. Empty array if no attachments."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "details": {
                "type": "object",
                "description": "Additional error context"
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "Request ID for debugging"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Use your UIP API key as a bearer token"
      }
    }
  }
}
